[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery.git
[submodule "content/posts"]
	path = content/posts
	url = git@github.com:malinkang/posts
[submodule "themes/diary"]
	path = themes/diary
	url = git@github.com:malinkang/hugo-theme-diary
[submodule "content/android"]
	path = content/android
	url = git@github.com:malinkang/AndroidNote.git
[submodule "themes/stack"]
	path = themes/stack
	url = git@github.com:malinkang/hugo-theme-stack
