[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery.git
[submodule "content/posts"]
	path = content/posts
	url = git@github.com:malinkang/posts
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
